
goldin.xcodeproj/project.xcworkspace/xcuserdata/stephane.xcuserdatad/UserInterfaceState.xcuserstate

goldin.xcodeproj/xcuserdata/stephane.xcuserdatad/xcschemes/goldin.xcscheme

goldin.xcodeproj/xcuserdata/stephane.xcuserdatad/xcschemes/xcschememanagement.plist
